# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.jar
*.war
*.ear
*.class

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Node
node_modules/
package-lock.json

# CSS Output
src/main/resources/static/css/output.css
