server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: patient-service
          uri: http://localhost:9090
          predicates:
            - Path=/patients/**
          filters:
            - StripPrefix=0